body{
    font-family: 'Arial';
}
header{
    width: 100%;
}
header .top{
    width: 100%;
    background-color: #000;
    border-bottom: 1px solid #eee;
}
header .top .top-inner{
    width: 1110px;
    height: 57px;
    margin:0 auto;
}
header .top .top-inner .account{
    float: left;
    padding-top: 20px;
    padding-bottom: 19px;
}
header .top .top-inner .account a{
    display: block;
    font-size: 12px;
    color:#ccc;
    float: left;
    margin-left: 10px;
}
header .top .top-inner .account a:first-child{
    margin-top: 2px;
}
header .top .top-inner .account a:nth-child(2){
    margin-top: 1px;
}
header .top .top-inner .account a:nth-child(3){
    margin-top: -1px;
    margin-left: 11px;
}
header .top .top-inner .account a:hover{
    color:#3bb18f;
}
header .top .top-inner .tel{
    float: left;
    padding-top: 20px;
    padding-bottom: 18px;
    margin-left: 86px;
}
header .top .top-inner .tel i{
    color:#ccc;
    font-size: 22px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: -3px;
}
header .top .top-inner .tel span{
    color:#89978e;
    font-size: 12px;
    font-weight: 400;
}
header .top .top-inner .lan{
    float: left;
    padding-top: 20px;
    padding-bottom: 21px;
    margin-left: 120px;
}
header .top .top-inner .lan li{
    float: left;
    color:#89978e;
    font-size: 12px;
    margin-left: 10px;
    position:relative;
}
header .top .top-inner .lan li:last-child{
    margin-top: 2px;
}
header .top .top-inner .lan li a{
    color:#89978e;
    font-size: 13px;
    font-weight: 400;
    display: block;
}
header .top .top-inner .lan li a img{
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}
header .top .top-inner .lan li a:hover{
    color:#3bb18f;
}
header .top .top-inner .lan li .box{
    width: 160px;
    height:125px;
    background-color: #fff;
    position: absolute;
    left:-25px;
    top:38px;
    overflow: hidden;
    /*opacity: 0;*/
    display: none;
 /*   transition: all 500ms 200ms;*/
    z-index: 1;
}
header .top .top-inner .lan li .box a{
    display: block;
    color:#111;
    padding-left: 15px;
    line-height: 30px;
}
header .top .top-inner .lan li .box a i{
    font-size: 14px;
}
header .top .top-inner .lan li .box a:hover{
    color:#3bb18f;
}
/*header .top .top-inner .lan li:hover .box{
    opacity:1;
    height: 125px;
}*/
header .top .top-inner .lan li .box a img{
    margin-top: 11px;
}
header .top .top-inner .menu{
    float: left;
    padding-top: 20px;
    padding-bottom: 24px;
    margin-left: 100px;
}
header .top .top-inner .menu li{
    float: left;
    color:#89978e;
    font-size: 12px;
    margin-left: 10px;
    position:relative;
}
header .top .top-inner .menu li a{
    color:#89978e;
    font-size: 13px;
    font-weight: 400;
}
header .top .top-inner .menu li a:hover{
    color:#3bb18f;
}
header .top .top-inner .menu li .box{
    width: 160px;
    height: 0px;
    background-color: #fff;
    position: absolute;
    left:0px;
    top:38px;
    overflow: hidden;
    opacity: 0;
    transition: all 500ms 300ms;
    z-index: 1;
}
header .top .top-inner .menu li:hover .box{
    opacity:1;
    height: 125px;
}
header .top .top-inner .menu li .box a{
    display: block;
    color:#111;
    padding-left: 15px;
    line-height: 30px;
}
header .top .top-inner .menu li .box a:hover{
    color:#3bb18f;
}
header .top .top-inner .search{
    float: right;
    padding-top: 18px;
    padding-right: 10px;
}
header .top .top-inner .search a{
    color:#c0c0c0;
}
header .top .top-inner .search a:hover{
    color:#3bb18f;
}
header .top .top-inner .search a i{
    font-size: 20px;
}
header .top .top-inner .bag{
    float: right;
    padding-top: 18px;
    padding-right: 28px;
    padding-bottom: 19px;
    padding-left: 28px;
    position:relative;
}
header .top .top-inner .bag a{
    color:#c0c0c0;
}
header .top .top-inner .bag:hover a{
    color:#3bb18f;
}
header .top .top-inner .bag a i{
    font-size: 20px;
}
header .top .top-inner .bag .circle{
    width: 20px;
    background-color: #3bb18f;
    border-radius: 50%;
    color:#fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    position:absolute;
    top:7px;
    right:15px;
}
header .top .top-inner .bag .box{
    width: 298px;
    height: 419px;
    border:1px solid #eee;
    background-color: #fff;
    position:absolute;
    top:57px;
    right:16px;
    display: none;
    z-index: 1;
}
header .top .top-inner .bag:hover .box{
    display: block;
}
header .top .top-inner .bag .box h2{
    line-height: 50px;
    color:#111;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
header .top .top-inner .bag .box .list{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
header .top .top-inner .bag .box .list:nth-child(3){
    padding-top: 10px;
    padding-bottom: 20px;
}
header .top .top-inner .bag .box .list img{
    display: block;
    width: 72px;
    height: 72px;
    float: left;
}
header .top .top-inner .bag .box .list h3{
    float: left;
    font-size: 14px;
    margin-left: 15px;
}
header .top .top-inner .bag .box .list h3:hover{
    color:#3bb18f;
}
header .top .top-inner .bag .box .list span{
    color:#3bb18f;
    font-size: 14px;
    margin-left: 15px;
}
header .top .top-inner .bag .box .list i{
    float: right;
    color:#ccc;
    font-size: 14px;
}
header .top .top-inner .bag .box .list i:hover{
    color:#111;
}
header .top .top-inner .bag .box ul{
    overflow:hidden;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
header .top .top-inner .bag .box ul li{
    float: left;
    line-height: 42px;
    width: 149px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color:#1f1f1f;
}
header .top .top-inner .bag .box ul li:last-child{
    width: 148px;
    border-left: 1px solid #eee;
}
header .top .top-inner .bag .box .words{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
header .top .top-inner .bag .box .words a{
    font-size: 12px;
    color:#3bb18f;
}
header .top .top-inner .bag .box .words a:hover{
    color:#111;
}
header .top .top-inner .bag .box button{
    width: 258px;
    line-height: 40px;
    background-color: #000;
    color:#fff;
    border:none;
    outline: none;
    border-radius: 5px;
    margin:0 auto;
    display: block;
    cursor: pointer;
    transition:all 300ms;
    font-size: 12px;
}
header .top .top-inner .bag .box button:hover{
   background-color:#3bb18f;
}
header .mid{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 2px #f6f6f6;
}
header .mid .mid-inner{
    width: 1110px;
    height: 95px;
    margin:0 auto;
}
header .mid .mid-inner .logo{
    float: left;
}
header .mid .mid-inner .logo h1{
    padding-top: 27px;
    padding-bottom: 27px;

}
header .mid .mid-inner .logo h1 a{
    display: block;
    width: 131px;
    height: 41px;
    background-image: url(../images/logo-1.png);
    background-repeat: no-repeat;
}
header .mid .mid-inner ul{
    float: right;
}
header .mid .mid-inner ul li{
    float: left;
    margin-left: 34px;
    margin-top: 20px;
    padding-bottom: 23px;
    position:relative;
}
header .mid .mid-inner ul li a{
   color:#111;
   font-size: 12px;
   padding:20px 20px 20px 5px;
   display: block;
   line-height: 12px;
   position:relative;
   transition:all 300ms;
}
header .mid .mid-inner ul li a:hover{
   color:#3bb18f;
}
header .mid .mid-inner ul li a i{
   position:absolute;
   right:0;
}
header .mid .mid-inner ul li .box{
    position:absolute;
    top:75px;
    left:-10px;
    width: 220px;
    height: 120px;
    display: none;
    background-color: #fff;
    border:1px solid #eee;
    border-top: 2px solid #3bb18f;
    transition:all 300ms;
    z-index: 11;
}
header .mid .mid-inner ul li:hover .box{
    display: block;
}
header .mid .mid-inner ul li .box a{
    padding:14px 0px 14px 20px;
    color:#838383;
    position:relative;
    background-color: #fff;
}
header .mid .mid-inner ul li .box a:hover{
    background-color: #eee;
}
header .mid .mid-inner ul li .box a i{
    position:absolute;
    right: 10px;
}
header .mid .mid-inner ul li .box a span{
    width: 40px;
    background-color: #e64b3b;
    color:#fff;
    display: block;
    text-align: center;
    line-height: 18px;
    border-radius: 5px;
    position:absolute;
    left:70px;
    top:11px;
}
header .mid .mid-inner ul li:nth-child(2) .box{
    height: 520px;
}
header .mid .mid-inner ul li .box .box1{
    position:relative;
}
header .mid .mid-inner ul li .box .box1:hover>a{
    background-color: #eee;
}
header .mid .mid-inner ul li .box .box1 .box2{
    position:absolute;
    left:221px;
    top:-2px;
    width: 220px;
    border-top: 2px solid #3bb18f;
    display: none;
}
header .mid .mid-inner ul li .box .box1:hover .box2{
    display: block;
}
header .mid .mid-inner ul li:nth-child(3) .box{
    height: 340px;
    width: 1080px;
    left:-550px;
    padding:30px;
}
header .mid .mid-inner ul li:nth-child(3) .box .left{
    float: left;
}
header .mid .mid-inner ul li:nth-child(3) .box .left h2{
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}
header .mid .mid-inner ul li:nth-child(3) .box .left h2:nth-child(6){
    margin-top: 20px;
}
header .mid .mid-inner ul li:nth-child(3) .box .left a{
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
}
header .mid .mid-inner ul li:nth-child(3) .box .midd{
    float: left;
    margin-left: 60px;
}
header .mid .mid-inner ul li:nth-child(3) .box .midd h2{
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}
header .mid .mid-inner ul li:nth-child(3) .box .midd h2:nth-child(7){
    margin-top: 20px;
}
header .mid .mid-inner ul li:nth-child(3) .box .midd a{
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
}
header .mid .mid-inner ul li:nth-child(3) .box .right{
    float: left;
    margin-left: 130px;
}
header .mid .mid-inner ul li:nth-child(3) .box .right h2{
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}
header .mid .mid-inner ul li:nth-child(3) .box .right h2:nth-child(4){
    margin-top: 20px;
}
header .mid .mid-inner ul li:nth-child(3) .box .right a{
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
}
header .mid .mid-inner ul li:nth-child(3) .box a:hover{
    color:#3bb18f;
    background-color: #fff;
}
header .mid .mid-inner ul li:nth-child(3) .box .pic{
    float: right;
    width: 340px;
    height: 340px;
    position:relative;
}
header .mid .mid-inner ul li:nth-child(3) .box .pic img{
    display: block;
    width: 100%;
}
header .mid .mid-inner ul li:nth-child(3) .box .pic span{
    display: block;
    position:absolute;
    top:160px;
    left:20px;
    color:#999;
}
header .mid .mid-inner ul li:nth-child(3) .box .pic h2{
    position:absolute;
    top:190px;
    left:20px;
    color:#111;
    font-size: 20px;
    font-weight: bold;
}
header .mid .mid-inner ul li:nth-child(3) .box .pic i{
    display: block;
    position:absolute;
    top:225px;
    left:20px;
    color:#999;
}
header .mid .mid-inner ul li:nth-child(3) .box .pic button{
    width: 118px;
    line-height: 40px;
    background-color: #3bb08e;
    color:#fff;
    border:none;
    outline: none;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    transition:all 300ms;
    opacity:1;
    font-size: 12px;
    position:absolute;
    top:270px;
    left:20px;
}
header .mid .mid-inner ul li:nth-child(3) .box .pic button:hover{
    opacity:0.8;
}
header .mid .mid-inner ul li:nth-child(5) .box{
    height: 340px;
    width: 1080px;
    left:-788px;
    padding:30px;
}
header .mid .mid-inner ul li:nth-child(5) .box .left{
    float: left;
}
header .mid .mid-inner ul li:nth-child(5) .box .left h2{
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}
header .mid .mid-inner ul li:nth-child(5) .box .left h2:nth-child(6){
    margin-top: 20px;
}
header .mid .mid-inner ul li:nth-child(5) .box .left a{
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
}
header .mid .mid-inner ul li:nth-child(5) .box .midd{
    float: left;
    margin-left: 60px;
}
header .mid .mid-inner ul li:nth-child(5) .box .midd h2{
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}
header .mid .mid-inner ul li:nth-child(5) .box .midd h2:nth-child(7){
    margin-top: 20px;
}
header .mid .mid-inner ul li:nth-child(5) .box .midd a{
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
}
header .mid .mid-inner ul li:nth-child(5) .box .right{
    float: left;
    margin-left: 130px;
}
header .mid .mid-inner ul li:nth-child(5) .box .right h2{
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}
header .mid .mid-inner ul li:nth-child(5) .box .right h2:nth-child(4){
    margin-top: 20px;
}
header .mid .mid-inner ul li:nth-child(5) .box .right a{
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
}
header .mid .mid-inner ul li:nth-child(5) .box a:hover{
    color:#3bb18f;
    background-color: #fff;
}
header .mid .mid-inner ul li:nth-child(5) .box .pic{
    float: right;
    width: 340px;
    height: 340px;
    position:relative;
}
header .mid .mid-inner ul li:nth-child(5) .box .pic img{
    display: block;
    width: 100%;
}
header .mid .mid-inner ul li:nth-child(5) .box .pic span{
    display: block;
    position:absolute;
    top:160px;
    left:20px;
    color:#999;
}
header .mid .mid-inner ul li:nth-child(5) .box .pic h2{
    position:absolute;
    top:190px;
    left:20px;
    color:#111;
    font-size: 20px;
    font-weight: bold;
}
header .mid .mid-inner ul li:nth-child(5) .box .pic i{
    display: block;
    position:absolute;
    top:225px;
    left:20px;
    color:#999;
}
header .mid .mid-inner ul li:nth-child(5) .box .pic button{
    width: 118px;
    line-height: 40px;
    background-color: #3bb08e;
    color:#fff;
    border:none;
    outline: none;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    transition:all 300ms;
    opacity:1;
    font-size: 12px;
    position:absolute;
    top:270px;
    left:20px;
}
header .mid .mid-inner ul li:nth-child(5) .box .pic button:hover{
    opacity:0.8;
}
header .mid .mid-inner ul li:nth-child(4) .box{
    height: 340px;
    width: 1080px;
    left:-687px;
    padding:30px;
    border-bottom: none;
}
header .mid .mid-inner ul li:nth-child(4) .box .left{
    float: left;
}
header .mid .mid-inner ul li:nth-child(4) .box .left h2{
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}
header .mid .mid-inner ul li:nth-child(4) .box .left a{
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
}
header .mid .mid-inner ul li:nth-child(4) .box>img{
    display: block;
    position:absolute;
    top:0;
    right:-1px;
}
header .mid .mid-inner ul li:nth-child(4) .box a:hover{
    color:#3bb18f;
    background-color: #fff;
}
header .mid .mid-inner ul li:nth-child(6) .box{
    height: 294px;
    width: 1080px;
    left:-918px;
    padding:30px;
}
header .mid .mid-inner ul li:nth-child(6) .box .l-box{
    float: left;
    position:relative;
}
header .mid .mid-inner ul li:nth-child(6) .box .l-box+.l-box{
    margin-left: 30px;
}
header .mid .mid-inner ul li:nth-child(6) .box .l-box img{
    display: block;
}
header .mid .mid-inner ul li:nth-child(6) .box .l-box button{
    width: 118px;
    line-height: 40px;
    background-color: #fff;
    color:#555;
    border:none;
    outline: none;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    transition:all 300ms;
    opacity:1;
    font-size: 12px;
    position:absolute;
    top:173px;
    left:112px;
}
header .mid .mid-inner ul li:nth-child(6) .box .l-box button:hover{
    background-color: #3bb08e;
    color:#fff;
}
header nav{
    width: 100%;
    border-bottom: 1px solid #eee;
}
header nav .nav-inner{
    width: 1110px;
    height: 46px;
    margin:0 auto;
    padding-top: 36px;
}
header nav .nav-inner a{
    display: block;
    color:#777;
    font-size: 14px;
    float: left;
}
header nav .nav-inner span{
    display: block;
    color:#d1cdcf;
    font-size: 12px;
    float: left;
    margin-top: 2px;
    margin-left: 6px;
    margin-right: 6px;
}
header nav .nav-inner p{
    color:#3bb18f;
    font-size: 14px;
    float: left;
}
section{
    width: 100%;
}
section .b-box{
    width: 1110px;
    margin:0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
section .left{
    width: 635px;
    float: left;
    position:relative;
}
section .left .pic{
    width: 635px;
    height: 732.69px;
    position:relative;
}
section .left .pic img{
    display: block;
    width: 635px;
    height: 732.69px;
    position:absolute;
    top:0px;
    left:0px;
}
section .left .pic img:first-child{
    z-index: 1;
}
section .left ul{
    overflow:hidden;
    margin-top: 10px;
}
section .left ul li{
    float: left;
}
section .left ul li:nth-child(2){
    margin-left: 10px;
}
section .left ul li:last-child{
    float: right;
}
section .left ul li img{
    display: block;
    width: 205.03px;
    height: 139.41px;
    cursor:pointer;
    opacity:0.7;
    transition: all 300ms;
}
section .left ul li:first-child img{
    opacity:1;
}
section .left button{
    width: 42px;
    height: 42px;
    background-color: rgba(0,0,0,0.1);
    position:absolute;
    z-index: 4;
    top:40%;
    border:none;
    outline: none;
    color:#f1f1f1;
    font-size: 14px;
    margin-top: -20px;
    text-align: center;
    cursor:pointer;
    border-radius: 50%;
}
section .left button:hover{
    color:#3bb18f;
}
section .left .prev{
    left:40px;
}
section .left .next{
    right:40px;
}
section .right{
    float: right;
    width: 366px;
    background-color: #fff;
    margin-right: 42px;
    padding-top: 60px;
}
section .right h3{
    font-size: 34px;
    font-weight: lighter;
    line-height: 46px;
}
section .right p{
    font-size: 14px;
    color: #777;
    line-height: 22px;
    margin-top: 24px;
}
section .right span{
    display: block;
    font-size: 12px;
    color: #999;
    line-height: 22px;
    margin-top: 26px;
}
section .right .clearfix i{
    float: left;
    display: block;
    font-size: 34px;
    color: #111;
    line-height: 22px;
    margin-top: 22px;
}
section .right i:nth-child(2){
    font-size: 16px;
    color: #999;
    margin-top: 28px;
    margin-left: 14px;
    text-decoration:line-through;
}
section .right .details{
    padding-top: 15px;
    padding-bottom: 15px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    margin-top: 36px;
}
section .right .details a{
    color:#999;
    font-size: 14px;
    display: block;
}
section .right .details a i{
    font-size: 12px;
    float: right;
}
section .right .words{
    display: none;
}
section .right .words p{
    margin-top: 8px;
    font-size: 12px;
}
section .right .color{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom:1px solid #ddd;
    color:#999;
    font-size: 14px;
}
section .right .color ul{
    float: right;
    overflow:hidden;
}
section .right .color ul li{
    float: left;
    border-radius: 50%;
    border:1px solid #fff;
    margin-left: 20px;
}
section .right .color ul li a{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #3bb18f;
    border:2px solid #fff;
}
section .right .color ul li:nth-child(2) a{
    background-color: #e5e1de;
}
section .right .color ul li:nth-child(3) a{
    background-color: #000;
}
section .right .color ul li:nth-child(4) a{
    background-color: #777;
}
section .right .size{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom:1px solid #ddd;
    color:#999;
    font-size: 14px;
}
section .right .size ul{
    float: right;
    overflow:hidden;
}
section .right .size ul li{
    float: left;
    margin-left: 20px;
    margin-right: 10px;
}
section .right .size ul li a{
   color:#111;
   display: block;
   font-size: 12px;
}
section .right .qua{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom:1px solid #ddd;
    color:#999;
    font-size: 14px;
    overflow:hidden;
}
section .right .qua .qty{
    float: right;
}
section .right .qua .qty input{
    width: 40px;
    height: 19px;
    text-align: center;
    outline:none;
    border:1px solid #ccc;
}
section .right .qua .qty a i{
    color:#777;
    font-size: 12px;
}
section .right>a{
    display: block;
    float: left;
    width: 178px;
    line-height: 51px;
    color:#fff;
    background-color: #3bb18f;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    transition:all 300ms;
    margin-top: 40px;
    margin-bottom: 30px;
}
section .right>a:hover{
    opacity:0.8;
}
section .right>a i{
    margin-left: 10px;
}
section .right>a:nth-child(12){
    float: right;
    width: 176px;
    line-height: 49px;
    border:1px solid #999;
    background-color: #fff;
    color:#777;
}
section .right>a:nth-child(12):hover{
    opacity:1;
    background-color: #111;
    color:#fff;
}
section .right .menu{

}
section .right .menu a{
    float: left;
    display: block;
    font-size: 12px;
    color:#111;
    line-height: 24px;
    border-bottom: 1px solid #777;
}
section .right .menu a:nth-child(2){
    margin-left: 80px;
}
section .right .menu a:last-child{
    float: right;
}
section .picc{
    position:relative;
}
section .picc img{
    display: block;
    position:absolute;
    left:0px;
    top:20px;
    display: none;
}
section .picc img:first-child{
    display: block;
}
section .picc img:nth-child(2){
    left:-14px;
}
section .right .blank{
    width: 366px;
    height: 0;
}


section .menu{
    width: 100%;
    border-bottom: 1px solid #eee;
}
section .menu .menu-inner{
    width: 1110px;
    height: 74px;
    margin:0 auto;
    padding:30px 0px;
}
section .menu .menu-inner .box{
    float: left;
    padding:15px 145px 15px 70px;
    position:relative;
}
section .menu .menu-inner .box:nth-child(2){
    padding-right: 153px;
}
section .menu .menu-inner .box+.box{
    border-left: 1px solid #ddd;
}
section .menu .menu-inner .box img{
    display: block;
    float: left;
}
section .menu .menu-inner .box h2{
    font-size: 13px;
    float: left;
    margin-left: 20px;
    font-weight: bold;
}
section .menu .menu-inner .box span{
    font-size: 13px;
    display: block;
    position:absolute;
    top:33px;
    left:120px;
    color:#878787;
}
section .bbox {
    width: 100%;
}
section .bbox img{
    width: 50%;
    display: block;
    float: right;
}
section .bbox .leftt{
    width: 50%;
    float: left;
}
section .bbox .content{
    width: 48%;
    float: left;
    margin-top: 36%;
    margin-left: 26%;
}
section .bbox .content span{
    font-size: 13px;
}
section .bbox .content h2{
    font-size: 30px;
    color:#111;
    margin-top: 60px;
    margin-bottom: 30px;
}
section .bbox .content p{
    text-align:justify;
    font-size: 14px;
    color: #777;
    line-height: 22px;
    margin-top: 24px;
}
section .bbox1 img{
    float: left;
}
section .bbox1  .leftt1{
    float: right;
}
section .swiper{
    width: 100%;
    height: 731px;
    padding-top: 100px;
    background-color: #f7f7f7;
}
section .swiper .words{
    width: 100%;
}
section .swiper .words .words-inner{
    width: 1110px;
    margin:0 auto;
    text-align: center;
    padding-bottom: 50px;
}
section .swiper .words .words-inner h3{
    color:#111;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 26px;
}
section .swiper .words .words-inner p{
    color:#777;
    font-size: 17px;
    font-weight: 100;
    line-height: 28px;
}
section .swiper .swiper-inner{
    width: 1110px;
    margin:0 auto;
}
.swiper-container+.swiper-container{
    margin-left: 19px;
}
.swiper-container {
      width: 263px;
      height: 462px;
      margin:0;
      float: left;
      box-shadow: 0px 5px 10px #ccc;

}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{
    display: block;
    width: 263px;
    margin-top: -95px;
    border-bottom: 3px solid #f7f7f7;
}
.swiper-button-prev{
    background-image: url(../images/zuojiantou.png);
    width: 12px;
    height: 12px;
    -webkit-background-size: 100%;
    background-size: 100%;
    top:70%;
}
.swiper-button-next{
    background-image: url(../images/youjiantou.png);
    width: 12px;
    height: 12px;
    -webkit-background-size: 100%;
    background-size: 100%;
    top:70%;
}
.swiper-container>a{
    position:absolute;
    display: block;
    top:63%;
    left:28%;
    z-index: 5;
    color:#d7d7d8;
    font-size: 13px;
}
.swiper-container>a:hover{
    color:#3bb18f;
}
.swiper-container .color{
    padding-top: 15px;
    padding-bottom: 15px;
    color:#999;
    font-size: 14px;
    position:absolute;
    z-index: 5;
    top:54%;
    left:25%;
}
.swiper-container .color ul{
    float: right;
    overflow:hidden;
}
.swiper-container .color ul li{
    float: left;
    border-radius: 50%;
    border:1px solid rgba(0, 0, 0, 0.0);
    margin-left: 20px;
    padding:3px;
}
.swiper-container .color ul li a{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3bb18f;
}
.swiper-container .color ul li:nth-child(2) a{
    background-color: #e5e1de;
}
.swiper-container .color ul li:nth-child(3) a{
    background-color: #000;
}
.swiper-container .color ul li:nth-child(4) a{
    background-color: #777;
}
.swiper-container>p{
    position:absolute;
    top:70%;
    left:34%;
    z-index: 5;
    color:#fff;
    font-size: 22px;
    font-weight: bold;
}
.swiper-container>span{
    position:absolute;
    display: block;
    top:84%;
    left:32%;
    z-index: 5;
    color:#000;
    font-size: 13px;
}
.swiper-container .iconfont{
    position:absolute;
    display: block;
    top:91%;
    z-index: 5;
    color:#000;
    font-size: 18px;
}
.swiper-container .iconfont:hover{
    color:#3bb18f;
}
.swiper-container .icon-xin{
    left:12%;
}
.swiper-container .icon-gouwuche{
    right:12%;
}
.swiper-container3{
    width: 100px;
    height: 30px;
    position:absolute;
    left:50%;
    margin-left: -50px;
    bottom:18px;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: none;

}
.swiper-container3 .swiper-wrapper .swiper-slide{
    font-size: 12px;
    background-color: #f7f7f7;
}
section .trans{
    width: 100%;
}
section .trans .trans-inner{
    width: 1110px;
    margin:0 auto;
    padding-bottom: 100px;
}
.showpic {
        width: 356.66px;
        height: 416.66px;
        overflow: hidden;
        position: relative;
        float: left;
}
.showpic+.showpic{
    margin-left: 20px;
}

.showpic .shou-wrap {
    width: 356.66px;
    height: 416.66px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 3;

}

.showpic img {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    transition: all 0.5s;
}

.showpic:hover img {
    transform: scale(1.1);
}

.showpic .words {
    position: absolute;
    z-index: 5;
    transform: translate(0%, -80%);
    transition: all 0.5s;
    text-align: center;
}

.showpic .words p {
    color: #ccc;
    font-size: 12px;
    margin-bottom: 15px;
    transition: all 0.5s;
}

.showpic .words p:nth-child(2) {
    color: #fff;
    font-size: 18px;
}

.showpic .words p:nth-child(4) span {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.showpic:hover .words {
    transform: translate(0%, -120%);
}

.showpic:hover .words p:nth-child(2) {
    color: #3bb18f;
}
section .words{
    width: 100%;
}
section .words .words-inner{
    width: 1110px;
    margin:0 auto;
    text-align: center;
    padding-bottom: 50px;
}
section .words .words-inner h3{
    color:#111;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 26px;
}
section .words .words-inner p{
    color:#777;
    font-size: 16px;
    font-weight: 100;
    line-height: 28px;
}
section .words1{
    margin-top: 100px;
}
section .words2{
    margin-top: 0px;
}
section .words1 .words-inner1{
    padding-bottom: 20px;
}
footer{
    width: 100%;
}
footer .f-up{
    width: 100%;
    background-color: #262729;
    border-bottom: 1px solid #343638;
}
footer .f-up .f-up-inner{
    width: 1110px;
    height: 399px;
    margin:0 auto;
    padding-top: 90px;
    position:relative;
}
footer .f-up .f-up-inner ul{
    float: left;
}
footer .f-up .f-up-inner ul:nth-child(2){
    margin-top: 50px;
    margin-left: 84px;
}
footer .f-up .f-up-inner ul:nth-child(3){
    margin-top: 50px;
    margin-left: 84px;
}
footer .f-up .f-up-inner ul:nth-child(4){
    margin-left: 84px;
}
footer .f-up .f-up-inner ul:nth-child(5){
    margin-top: 50px;
    margin-left: 84px;
}
footer .f-up .f-up-inner ul:nth-child(6){
    float: right;
    margin-right: 60px;
}
footer .f-up .f-up-inner ul:nth-child(6) li:nth-child(3){
    margin-top: 16px;
    margin-bottom: 16px;
}
footer .f-up .f-up-inner ul:nth-child(7){
    position:absolute;
    bottom:50px;
    left:0;
}
footer .f-up .f-up-inner ul:nth-child(7) li:nth-child(1){
    margin-top: 12px;
    margin-bottom: 12px;
}
footer .f-up .f-up-inner ul:nth-child(7) li:nth-child(2){
    position:relative;
}
footer .f-up .f-up-inner ul:nth-child(7) li:nth-child(2) input{
    width: 330px;
    height: 50px;
    border-radius: 4px;
    border:none;
    outline:none;
    padding-left: 20px;
    background-color: #2b2d30;
    color:#999;
    font-size: 14px;
}
footer .f-up .f-up-inner ul:nth-child(7) li:nth-child(2) span{
    width: 43px;
    line-height: 39px;
    background-color: #3bb18f;
    color:#fff;
    font-size: 12px;
    display: block;
    border-radius: 4px;
    text-align: center;
    position:absolute;
    right:6px;
    top:6px;
    cursor:pointer;
}
footer .f-up .f-up-inner ul:nth-child(7) li:nth-child(2) span:hover{
    background-color: #58c7a7;
}
footer .f-up .f-up-inner ul:nth-child(8){
    position:absolute;
    bottom:76px;
    left:475px;

}
footer .f-up .f-up-inner ul:nth-child(8) li:nth-child(2){
    position:relative;
    float: left;
    margin-top: 10px;
}
footer .f-up .f-up-inner ul:nth-child(8) li:nth-child(2) .box{
    position:absolute;
    top:-120px;
    left:0px;
    width: 206px;
    height: 112px;
    background-color: #2b2d30;
    border:1px solid #333;
    border-radius: 4px;
    display: none;
}
footer .f-up .f-up-inner ul:nth-child(8) li:nth-child(2) .box a{
    display: block;
    padding-left: 20px;
}
footer .f-up .f-up-inner ul:nth-child(8) li:nth-child(2) .box a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}




footer .f-up .f-up-inner ul:nth-child(8) li:nth-child(3){
    position:relative;
    float: left;
    margin-left: 80px;
    margin-top: 10px;
}
footer .f-up .f-up-inner ul:nth-child(8) li:nth-child(3) .box1{
    position:absolute;
    top:-120px;
    left:0px;
    width: 206px;
    height: 112px;
    background-color: #2b2d30;
    border:1px solid #333;
    border-radius: 4px;
    display: none;
}
footer .f-up .f-up-inner ul:nth-child(8) li:nth-child(3) .box1 a{
    display: block;
    padding-left: 20px;
}
footer .f-up .f-up-inner ul:nth-child(8) li:nth-child(3) .box1 a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
footer .f-up .f-up-inner ul:nth-child(9){
    position:absolute;
    bottom:76px;
    right:60px;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(2){
    width: 36px;
    height: 36px;
    line-height: 36px;
    float: left;
    text-align: center;
    background-color: #262729;
    border-radius: 5px;
    transition:all 500ms;
    overflow:hidden;

}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(2):hover{
    background-color: #344e86;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(2) .list{
    transition:all 500ms;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(2):hover .list{
    transform:translateY(-36px);
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(2) i{
    color:#777;
    font-size: 20px;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(2) i:last-child{
    color:#fff;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(3){
    width: 36px;
    height: 36px;
    line-height: 36px;
    float: left;
    text-align: center;
    background-color: #262729;
    border-radius: 5px;
    transition:all 500ms;
    overflow:hidden;
    margin-left: 5px;

}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(3):hover{
    background-color: #009ad5;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(3) .list{
    transition:all 500ms;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(3):hover .list{
    transform:translateY(-36px);
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(3) i{
    color:#777;
    font-size: 20px;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(3) i:last-child{
    color:#fff;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(4){
    width: 36px;
    height: 36px;
    line-height: 36px;
    float: left;
    text-align: center;
    background-color: #262729;
    border-radius: 5px;
    transition:all 500ms;
    overflow:hidden;
    margin-left: 5px;

}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(4):hover{
    background-color: #386589;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(4) .list{
    transition:all 500ms;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(4):hover .list{
    transform:translateY(-36px);
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(4) i{
    color:#777;
    font-size: 20px;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(4) i:last-child{
    color:#fff;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(5){
    width: 36px;
    height: 36px;
    line-height: 36px;
    float: left;
    text-align: center;
    background-color: #262729;
    border-radius: 5px;
    transition:all 500ms;
    overflow:hidden;
    margin-left: 5px;

}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(5):hover{
    background-color: #d73925;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(5) .list{
    transition:all 500ms;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(5):hover .list{
    transform:translateY(-36px);
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(5) i{
    color:#777;
    font-size: 20px;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(5) i:last-child{
    color:#fff;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(6){
    width: 36px;
    height: 36px;
    line-height: 36px;
    float: left;
    text-align: center;
    background-color: #262729;
    border-radius: 5px;
    transition:all 500ms;
    overflow:hidden;
    margin-left: 5px;

}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(6):hover{
    background-color: #0c6590;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(6) .list{
    transition:all 500ms;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(6):hover .list{
    transform:translateY(-36px);
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(6) i{
    color:#777;
    font-size: 20px;
}
footer .f-up .f-up-inner ul:nth-child(9) li:nth-child(6) i:last-child{
    color:#fff;
}
footer .f-up .f-up-inner ul li h2{
    color:#ddd;
    font-size: 20px;
    line-height: 50px;
}
footer .f-up .f-up-inner ul li a{
    color:#999;
    font-size: 13px;
    line-height: 28px;
}
footer .f-up .f-up-inner ul li a:hover{
    color: #3bb18f;
}
footer .f-up .f-up-inner ul li p{
    color:#999;
    font-size: 13px;
    line-height: 18px;
}





footer .f-down{
    width: 100%;
    background-color: #262729;
}
footer .f-down .f-down-inner{
    width: 1110px;
    height: 100px;
    margin:0 auto;
}
footer .f-down .f-down-inner p{
    color: #777;
    font-size: 13px;
    line-height: 100px;
    float: left;
}
footer .f-down .f-down-inner .list{
    float: right;
    margin-top: 40px;
}
footer .f-down .f-down-inner .list a{
    display: block;
    float: left;
    margin-left: 15px;
    width: 34px;
    height: 22px;
    position:relative;
}
footer .f-down .f-down-inner .list a img{
    display: block;
}
footer .f-down .f-down-inner .list a .down{
    position:absolute;
    top:-6px;
    left:11px;
    display: none;
}
footer .f-down .f-down-inner .list a span{
    display: block;
    padding:8px 10px;
    color:#fff;
    background-color: #040404;
    font-size: 12px;
    position:absolute;
    top:-34px;
    left:-4px;
    border-radius: 5px;
    display: none;
}
footer .f-down .f-down-inner .list a:nth-child(2) span{
    left:-12px;
}
footer .f-down .f-down-inner .list a:nth-child(3) span{
    left:-12px;
}
footer .f-down .f-down-inner .list a:nth-child(4) span{
    left:-9px;
}
footer .f-down .f-down-inner .list a:nth-child(5) span{
    left:-16px;
}
footer .f-down .f-down-inner .list a:hover .down{
    display: block;
}
footer .f-down .f-down-inner .list a:hover span{
    display: block;
}

